@charset "utf-8";

/* ====================
  共通
  ===================== */
.common-inner {
  max-width: 375px;
  padding: 0 4%;
  margin: auto;
}

.section {
  padding: 100px 0 50px;
}

.section-title {
  margin-bottom: 70px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.05em;
}

.title-font {
  font-family: "Roboto";
}

.summary-title {
  margin-bottom: 30px;
  line-height: 2;
}

.summary-text {
  line-height: 2.4;
}

.news-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.news-item {
  width: 320px;
  box-shadow: 0 0 4px #707070;
}

.news-item:not(:last-child) {
  margin-bottom: 50px;
}

.news-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news-text {
  padding: 25px 33px;
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3";
}

/* ====================
  font-size（スマホ）
  ===================== */
.fontsize-SS {
  font-size: 13px;
}

.fontsize-S {
  font-size: 14px;
}

.fontsize-M {
  font-size: 16px;
}

.fontsize-L {
  font-size: 20px;
}

.fontsize-LL {
  font-size: 24px;
}

.fontsize-XL {
  font-size: 36px;
}

/* ====================
  ヘッダー
  ===================== */
.header {
  background-color: #1b1310;
  border-bottom: 1px solid #707070;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 375px;
  margin: auto;
  padding: 0 4%;
}

.header-logo a {
  display: block;
  padding: 15px 0;
  font-family: "Roboto";
  font-size: 26px;
  letter-spacing: 0.1em;
  color: #fff;
}

.fv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/fv-bgi_sp@2x.jpg);
  background-size: cover;
  background-position: center;
  max-height: 590px;
  height: 90vh;
}

.site-title {
  border: 2px solid #fff;
  padding: 30px 40px;
  font-family: "Roboto";
  font-size: 30px;
  color: #fff;
}

/* ====================
  サービス
  ===================== */
.service-box:not(:last-child) {
  margin-bottom: 50px;
}

.summary-box {
  margin-bottom: 40px;
}

.service-image img {
  object-fit: cover;
}

/* ====================
  お問い合わせ
  ===================== */
.contact-form {
  width: 345px;
  margin: auto;
}

.form-parts {
  display: block;
  margin-bottom: 22px;
}

.parts-label {
  display: block;
  margin-bottom: 3px;
  line-height: 1;
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3";
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  display: block;
  width: 100%;
  padding: 4px;
  border: 1px solid #333;
  font-size: 16px;
}

textarea {
  display: block;
  width: 100%;
  height: 170px;
  border: 1px solid #333;
  font-size: 16px;
  resize: none;
}

.send-btn {
  display: block;
  margin: 50px auto 0;
  padding: 12px;
  min-width: 235px;
  background-color: #000;
  border-radius: 29px;
  color: #fff;
  font-weight: 500;
}

/* ====================
 フッター
  ===================== */
.footer {
  background-color: #000;
  padding: 16px;
  text-align: center;
}

.copy-right {
  font-family: "Roboto";
  color: #fff;
}

@media screen and (max-width: 480px) /* スマホ */ {
  /* ==================== 
 ハンバーガーメニュー
===================== */
  .menu {
    position: absolute;
    top: 30px;
    right: 20px;
    height: 20px;
    width: 30px;
    z-index: 99;
  }

  .bar {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s;
  }

  .bar-center {
    top: 9px;
  }

  .bar-bottom {
    bottom: 0;
  }

  .bar-top.active {
    top: 8px;
    transform: rotate(45deg);
  }

  .bar-center.active {
    transform: scaleX(0);
  }

  .bar-bottom.active {
    bottom: 10px;
    transform: rotate(135deg);
  }

  /* ==================== 
 フルスクリーンナビ
===================== */
  html.noscroll {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .gnav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 98;
  }

  .gnav.active {
    display: block;
  }

  .gnav-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .gnav-item {
    margin: 40px 0;
    text-align: center;
  }

  .gnav-item a {
    display: block;
    padding: 20px;
    color: #fff;
    transition: 0.5s;
  }

  .gnav-item a:hover {
    color: #666;
  }

  /* ==================== 
 TOPにもどる
===================== */
  #page-top {
    position: fixed;
    width: 64px;
    height: 64px;
    right: 10px;
    top: 50px;
    border-radius: 50%;
    background-color: rgb(94, 94, 94, 0.6);
    font-size: 10px;
  }

  #page-top a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    color: #fff;
  }

  #page-top a::before {
    content: "▲";
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  #page-top a:hover {
    background-color: rgba(94, 94, 94, 0.2);
  }
}

@media screen and (min-width: 481px) /* タブレット */ {
  /* ====================
    共通
    ===================== */
  * {
    float: none;
    position: static;
  }

  .common-inner {
    max-width: 768px;
  }

  /* ====================
    ヘッダー
    ===================== */
  .header-inner {
    max-width: 740px;
  }

  .site-title {
    font-size: 40px;
  }

  /* ====================
  サービス
  ===================== */
  .service-image img {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }

  /* ==================== 
 フルスクリーンナビ
 ===================== */
  .gnav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .gnav-item:not(:last-child) {
    margin-right: 30px;
  }

  .gnav-item a {
    display: inline-block;
    color: #fff;
    transition: 0.5s;
  }

  .gnav-item a:hover {
    color: #666;
  }

  /* ==================== 
 TOPにもどる
 ===================== */
  #page-top a {
    display: none;
  }
}

@media screen and (min-width: 769px) /* PC */ {
  /* ====================
    共通
    ===================== */
  .common-inner {
    max-width: 1030px;
    box-sizing: content-box;
  }

  /* ====================
      ヘッダー
  ===================== */
  .header-inner {
    max-width: 1200px;
  }

  .site-title {
    font-size: 50px;
  }

  .fv {
    background-image: url(../img/fv-bgi@2x.jpg);
    background-size: cover;
    background-position: center;
    max-height: 740px;
    height: 90vh;
  }

  /* ====================
    サービス
    ===================== */
  .service-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .service-box:nth-child(even) {
    flex-direction: row-reverse;
  }

  .service-image,
  .summary-box {
    max-width: 480px;
    width: 48%;
  }

  .summary-box {
    margin-bottom: 0;
  }

  /* ====================
    ニュース
  ===================== */
  .news-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .news-item:not(:last-child) {
    margin-bottom: 0;
  }
}
